.weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadce0;
  padding: 14px;
  border-radius: 4px;
  color: rgb(115, 115, 115);
}

.weather h1 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  font-size: 16px;
  font-weight: 100;
  text-align: left;
  list-style: none;
}

.weather img {
  height: 64px;
  margin-right: 5px;
  display: inline-block;
  width: 64px;
}

.weather .temperature {
  font-weight: bold;
  color: rgb(35, 35, 35);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}
.weather .unit {
  color: rgb(35, 35, 35);
  font-size: 14px;
  font-weight: 400;
  position: relative;
  top: -34px;
  line-height: 1;
}
